<div id="chat-page">
	<script>
		var userName = "<%= @current_user.name %>";
		var userId = <%= @current_user.id %>;
	</script>

	<!-- Left side -->
	<div class="small-3 columns">
		<!-- Logo -->
		<div class="row">
				Hot Air
		</div>
		<!-- side-nav -->
		<div class="row" id="roomNav">
			<%= button_tag 'List Rooms',  id: 'show_rooms_button' %>
		</div>
	</div>
	<!-- Right Side -->
	<div class="small-9 columns">
		<!-- Top Bar -->
		<div class="row topBar" id="topBar">
			
		</div>
		<!-- Chat room -->
		<div class="row chatRoom">
			<!-- Chat log -->
			<div class="small-10 columns" id="chat-view">

			</div>
			<!-- List of users -->
			<div class="small-2 columns userList">
				<p>Nick</p>
				<p>Nick2</p>
			</div>
		</div>
		<!-- Send row -->
		<div class="row sendRow">
			<!-- Send field and button -->
			<div class="small-9 columns">
				<div class="row sendInput">
					<!-- Text field -->
					<div class="small-9 columns">
						<%= text_field_tag :chat_text %>
					</div>
					<!-- Send button -->
					<div class="small-3 columns">
						<%= button_tag 'Send', id: 'send_button' %>
					</div>
				</div>
			</div>
			<div class="small-3 columns">
			</div>
		</div>
		<!-- footer -->
		<div class="row chatFooter">
			footer
		</div>
	</div>

	<%= label_tag 'Room Name' %>
	<%= text_field_tag :room_name %>
	<%= button_tag 'Create Room', id: 'create_room_button' %>
	<%= button_tag 'Join Room', id: 'join_room_button' %>
	<p></p>
	<%= text_field_tag :chat_text %>
	<%= button_tag 'Send', id: 'send_button' %>
	<div >
	</div>



	<script type='templates/handlebars' id="text_template">
		<div class="row chatRow">
			<em>{{ name }}</em>: {{{ text }}}
		</div>
	</script>

	<script type='templates/handlebars' id="embed_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ url }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type="templates/handlebars" id="time_template">
		<div class="row chatRow">
			<em>{{ name }}</em>: {{ time }} 
		</div>
	</script>

	<script type="templates/handlebars" id="room_template">
		<div class="row roomRow">
			<a href="{{ id }}">{{ name }}</a>
		</div>
	</script>

	<script type="templates/handlebars" id="room_details_template">
		<h1>{{ name }}</h1>
		<h4>{{ topic }}</h4>
		<h5>{{ users }} Users in room</h5>
	</script>

