<!-- header -->
<div id="chat-page">
	<script>
		var userName = "<%= @current_user.name %>";
		var userId = <%= @current_user.id %>;
	</script>

	<div class="row fullWidth">
		<!-- left column -->
		<div class="small-2 columns fullHeight" id="leftColumn">
			<!-- Room list button -->
			<div class="row">
				<%= button_tag 'List Rooms',  id: 'show_rooms_button' %>
			</div>
			<!-- Rooms title -->
			<div class="row roomsTitle">
				<h6>Recent Rooms</h6>
			</div>
			<!-- list of rooms as rows -->
			<div id="recentRoomNav">
					<div class="row">
						<!-- close button -->
						<div class="small-3 columns">
							
						</div>
						<!-- name -->
						<div class="small-9 columns">
							
						</div>
					</div>
			</div>
			
		</div>
		<!-- right column -->
		<div class="small-10 columns fullHeight">
			<!-- title bar -->
			<div class="row topBar" id="topBar">
				<div class="small-12 columns">
					<!-- Room Name -->
					<div class="row">
						
					</div>
					<div class="row">
						<!-- Topic -->
						<div class="small-10 columns">
							
						</div>
						<!-- Users Online -->
						<div class="small-1 columns">
							<!-- If were in the room list put create room here -->
						</div>
						<!-- Delte Button -->
						<div class="small-1 columns">
							
						</div>
					</div>
				</div>
			</div>		
			<!-- chat log -->
			<div class="row chatRoom" id="chatRoom">
				<!-- messages and send -->
				<div class="small-10 columns fullHeight">
					<!-- chat messages -->
					<div class="row" id="chatMsgs">
						<div class="small-12 columns" id="chat-view">
							<!-- dummy message -->
							<div class="row">
								<!-- user name -->
								<div class="small-2 columns">
					
								</div>
								<!-- message -->
								<div class="small-9 columns">

								</div>
								<!-- time -->
								<div class="small-1 columns">

								</div>
							</div>
						</div>
					</div>
					<!-- send row -->
					<div class="row" id="sendRow">
						<!-- Attachment buttom -->
						<div class="small-1 columns">
							<button id="show_upload_file_button" name="button" type="submit"><i class="fa fa-camera"></i></button>
						</div>
						<!-- text field -->
						<div class="small-11 columns">
							<%= text_field_tag :chat_text %>
						</div>
						<!-- send button -->
					
					</div>
				</div>
				<!-- users online -->
				<div class="small-2 columns userList fullHeight" id="userList">
					<!-- dummy user online -->
					<div class="row">
						<!-- Online/offline notificator -->
						<div class="small-2 columns">

						</div>
						<!-- name -->
						<div class="small-10 columns">

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script type='templates/handlebars' id="text_template">
		<div class="row chatRow">
			<div class="small-2 columns userName">
				{{ name }}:
			</div>
			<!-- message -->
			<div class="small-9 columns messageEl">
				{{{ text }}}
			</div>
			<!-- time -->
			<div class="small-1 columns">

			</div>
		</div>

	</script>

	<script type='templates/handlebars' id="embed_template">
		<div class="row chatRow embedColor">
			<div class="small-2 columns userName">
				{{ name }}:
			</div>
			<!-- message -->
			<div class="small-10 columns messageEl">
				<a class="embedly-card" href="{{ url }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
			</div>
		</div>
	</script>



	<script type='templates/handlebars' id="map_template">
		<div class="row chatRow embedColor">
				<a class="embedly-card" href="{{{ address }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="goto_template">
		<div class="row chatRow embedColor">
				<a class="embedly-card" href="{{{ destination }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="transport_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ transport }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="recipe_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ recipe }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="wiki_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ wiki }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>

		</div>
	</script>

	<script type='templates/handlebars' id="movie_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ movie }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>


	<script type="templates/handlebars" id="time_template">
		<div class="row chatRow">
			<em>{{ name }}</em>: {{ time }}
		</div>
	</script>

	<script type="templates/handlebars" id="room_template">
		<div class="row roomRow">
			<a href="{{ id }}">{{ name }}</a>
		</div>
	</script>

	<script type="templates/handlebars" id="room_details_template">
		<div class="columns small-12">
			<div class="row">
				<h1 id="roomName">{{ name }}</h1>
			</div>
			<div class="row">
				<h4 id="roomTopic">{{ topic }}</h4>
				
				{{#if users}}
				<h5>{{ users }} Users in room</h5>
				{{/if}}
				{{#if owner}}
					<h5> <%= button_tag 'DELETE', id: 'delete_room_button' %> </h5>
				{{/if}}
			</div>
		</div>
	</script>

	<script type="templates/handlebars" id="search_template">
		{{#each search }}
			<div class="row chatRow">
				<a href="{{ uri }}">{{ title }}</a>
				{{{ content }}}
			</div>
		{{/each}}
	</script>

	<script type="templates/handlebars" id="recent_rooms_template">
		<ul class="side-nav">
			<li>
						<div class="small-10 columns recentRoom">
							<a href="{{ id }}">{{ name }}</a>
						</div>
						<div class="small-2 columns noPadding">
							<span class="removeRecent"><a href="{{ id }}">x</a></span>
						</div>
						<!-- name -->
						
			</li>
		</ul>	
	</script>

	<script type="templates/handlebars" id="code_template">
	 	<div class="row chatRow">
			<div class="small-2 columns userName">
				{{ name }}:
			</div>
			<!-- message -->
			<div class="small-9 columns messageEl code snippet">
				<pre><code>{{ code }}</code></pre>
			</div>
			<!-- time -->
			<div class="small-1 columns">

			</div>
		</div>
 	</script>

 	<script type="templates/handlebars" id="flip_template">
 		<div class="row chatRow">
 			<em>{{ name }}</em> flipped {{ result }}!
 		</div>
 	</script>

	<script type="templates/handlebars" id="roll_template">
		<div class="row chatRow">
			<div class="small-2 columns userName">
				{{ name }}: 
			</div>
			<!-- message -->
			<div class="small-9 columns messageEl">
				Rolling....<br>
				<em>{{ name }} rolled a {{ roll }} on a {{ max }} sided die!</em>
			</div>
			<div class="small-1 columns">

			</div>
		</div>
	</script>

	<script type="templates/handlebars" id="fact_template">
		<div class="row chatRow">
			<div class="small-2 columns userName">
				{{ name }}: 
			</div>
			<!-- message -->
			<div class="small-9 columns messageEl">
				Heres a fact... <br>
				<em> {{ fact }} </em>
			</div>
			<div class="small-1 columns">

			</div>
		</div>
	</script>

	<script type="templates/handlebars" id="fortune_template">
		<div class="row chatRom">
			<em>{{ name }}</em>: {{{ fortune }}}
		</div>
	</script>


	<script type='templates/handlebars' id="gif_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ gif }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="crumble_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ crumble }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="users_in_room_template">
		<ul>
			{{#each users}}
				<li class="userInRoom">{{ name }}</li>
			{{/each}}
		</ul>
	</script>

	<script type="templates/handlebars" id="room_list_template">
		<div class="columns small-12">
				<div class="row">
					<h1>{{ name }}</h1>
				</div>
				<div class="row">
					<h4>{{ topic }}</h4>
				</div>
		</div>
	</script>

	<script type="templates/handlebars" id="image_template">
		<div class="row chatRow">
		<a class="embedly-card" href="{{ imageURL }}"></a>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>
</div>


<!-- New room form -->

<div id="newRoomModal" class="reveal-modal" data-reveal>
  <h2>New Room.</h2>
  <p class="lead">Enter a title for your new room.</p>
  <div class="columns small-10">
  	<%= text_field_tag :room_name %>
  </div>

 	<%= button_tag 'Create', id: 'create_room_button' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<!-- image upload form -->
<div id="newUploadFileModal" class="reveal-modal" data-reveal>
	<h2>Upload Image</h2>
  <p class="lead">Choose an image to upload</p>
	<form id="imagefield">
		<div class="columns small-10">
			<%= file_field_tag :image_file %>
			<%= hidden_field_tag :image_cache %>	
		</div>
	 	
	 	<%= button_tag 'Upload', id: 'create_uploaded_file' %>

	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>

<!-- New Command form -->
<div id="newCommandModal" class="reveal-modal" data-reveal>
	<h1>Commands</h1>
	<h3>Chat better, with our slash commands.</h3>
	<a href="#" data-reveal-id="mapModal" class="secondary button">/map</a>
	<a href="#" data-reveal-id="gotoModal" class="secondary button">/goto</a>
	<a href="#" data-reveal-id="transportModal" class="secondary button">/transport</a>
	<a href="#" data-reveal-id="codeModal" class="secondary button">/code</a>
	<a href="#" data-reveal-id="nudgeModal" class="secondary button">/nudge</a>
	<a href="#" data-reveal-id="searchModal" class="secondary button">/search</a>
	<a href="#" data-reveal-id="gifModal" class="secondary button">/gif</a>
	<a href="#" data-reveal-id="wikiModal" class="secondary button">/wiki</a>
	<a href="#" data-reveal-id="recipeModal" class="secondary button">/recipe</a>
	<a href="#" data-reveal-id="factModal" class="secondary button">/fact</a>
	<a href="#" data-reveal-id="flipModal" class="secondary button">/flip</a>
	<a href="#" data-reveal-id="rollModal" class="secondary button">/roll</a>
	<a href="#" data-reveal-id="fortuneModal" class="secondary button">/fortune</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="mapModal" class="reveal-modal" data-reveal>
	<h1>/map 'address'</h1>
	<h3>Share with others any location throughout the world.</h3>
	<p>Example: /map Sydney Australia</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="flipModal" class="reveal-modal" data-reveal>
	<h1>/flip</h1>
	<h3>Play heads or tails with any user with our digital coin toss.</h3>
	<p>/flip [ENTER]</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="codeModal" class="reveal-modal" data-reveal>
	<h1>/code</h1>
	<h3>Break up text and code, with our easy syntax highlighter.</h3>
	<p>/code 'code'</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="nudgeModal" class="reveal-modal" data-reveal>
	<h1>/nudge</h1>
	<h3>Shake it (screen) up a bit, with nudge.</h3>
	<p>/nudge [ENTER]</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="searchModal" class="reveal-modal" data-reveal>
	<h1>/search</h1>
	<h3>Get a quick google search, instantly. No need for leaving the chat window.</h3>
	<p>Example: /search top restaurants in Sydney</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="gifModal" class="reveal-modal" data-reveal>
	<h1>/gif</h1>
	<h3>Easily post your favorite type of gifs.</h3>
	<p>Example: /gif funny dog</p>
	<h3>Bored? Get a random gif!</h3>
	<p>Example: /gif [ENTER]</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="transportModal" class="reveal-modal" data-reveal>
	<h1>/transport</h1>
	<h3>Show transportation/transit routes to any location.</h3>
	<p>Example: /transport Pyrmont Australia</p>
	<h3>Easily find transport Point A FROM Point B.</h3>
	<p>Example: /transport Watsons Bay Australia FROM Sydney Opera House</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="wikiModal" class="reveal-modal" data-reveal>
	<h1>/wiki</h1>
	<h3>Share any wiki article for others to see.</h3>
	<p>Example: /wiki potato</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="gotoModal" class="reveal-modal" data-reveal>
	<h1>/goto</h1>
	<h3>Show driving and flight times to any location.</h3>
	<p>Example: /goto Brisbane Australia</p>
	<h3>Easily find driving and flight Point A FROM Point B.</h3>
	<p>/goto Brisbane FROM Cairns Australia</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="recipeModal" class="reveal-modal" data-reveal>
	<h1>/recipe</h1>
	<h3>Search, show, or post your favorite recipe for others.</h3>
	<p>/recipe pad thai</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="factModal" class="reveal-modal" data-reveal>
	<h1>/fact</h1>
	<h3>Random facts. Instantly.</h3>
	<p>/fact [ENTER]</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="rollModal" class="reveal-modal" data-reveal>
	<h1>/roll</h1>
	<h3>Roll any kind of dice you want. You decide the number of sides.</h3>
	<p>For example: /roll 6</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>

<div id="fortuneModal" class="reveal-modal" data-reveal>
	<h1>/fortune</h1>
	<h3>Easily find out your 'fortune', without the cookie.</h3>
	<p>/fortune [ENTER]</p>
	<a class="secondary button" href="#" data-reveal-id="newCommandModal">Commands</a>
	<a class="close-reveal-modal">&#215;</a>
</div>
