<div id="chat-page">

	<script>
		var userName = "<%= @current_user.name %>";
		var userId = <%= @current_user.id %>;
	</script>
	<%= label_tag 'Room Name' %>
	<%= text_field_tag :room_name %>
	<%= button_tag 'Create Room', id: 'create_room_button' %>
	<%= button_tag 'Join Room', id: 'join_room_button' %>
	<p></p>
	<%= text_field_tag :chat_text %>
	<%= button_tag 'Send', id: 'send_button' %>
	<div id="chat-view">
	</div>



	<script type='templates/handlebars' id="text_template">
		<p>
			<em>{{ name }}</em>: {{{ text }}}
		</p>
	</script>

	<script type='templates/handlebars' id="image_template">
		<p>
			<em>{{ name }}</em>: <img src="{{ url }}">
		</p>
	</script>

	<script type="templates/handlebars" id="tweet_template">

		<p>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</p>

	</script>

</div>