<div id="chat-page">
	<script>
		var userName = "<%= @current_user.name %>";
		var userId = <%= @current_user.id %>;
	</script>

	<!-- Left side -->
	<div class="small-3 columns">
		<!-- Logo -->
		<div class="row">
				Hot Air
		</div>
		<!-- side-nav -->
		<%= button_tag 'Create Room', id:'show_create_room_button' %>
		<%= button_tag 'List Rooms',  id: 'show_rooms_button' %>
		<div class="row" id="recentRoomNav">

		</div>
	</div>
	<!-- Right Side -->
	<div class="small-9 columns">
		<!-- Top Bar -->
		<div class="row topBar" id="topBar">
		</div>
		<!-- Chat room -->
		<div class="row chatRoom">
			<!-- Chat log -->
			<div class="small-10 columns" id="chat-view">

			</div>
			<!-- List of users -->
			<div class="small-2 columns userList" id="userList">
			</div>
		</div>
		<!-- Send row -->
		<div class="row sendRow">
			<!-- Send field and button -->
			<div class="small-9 columns">
				<div class="row sendInput">
					<!-- Text field -->
					<div class="small-9 columns">
						<%= text_field_tag :chat_text %>
					</div>
					<!-- Send button -->
					<div class="small-3 columns">
						<%= button_tag 'Send', id: 'send_button' %>
					</div>
				</div>
			</div>
			<div class="small-3 columns">
			</div>
		</div>
		<!-- footer -->
		<div class="row chatFooter">
			footer
		</div>
	</div>

	<div >
	</div>

	<script type='templates/handlebars' id="text_template">
		<div class="row chatRow">
			<em>{{ name }}:</em> {{{ text }}}
		</div>
	</script>

	<script type='templates/handlebars' id="embed_template">
		<div class="row chatRow">
			<em>{{ name }}</em>
				<a class="embedly-card" href="{{ url }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>


	<script type='templates/handlebars' id="map_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ address }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="goto_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ destination }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="transport_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ transport }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="recipe_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ recipe }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="wiki_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{{ wiki }}}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="movie_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ movie }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>


	<script type="templates/handlebars" id="time_template">
		<div class="row chatRow">
			<em>{{ name }}</em>: {{ time }}
		</div>
	</script>

	<script type="templates/handlebars" id="room_template">
		<div class="row roomRow">
			<a href="{{ id }}">{{ name }}</a>
		</div>
	</script>

	<script type="templates/handlebars" id="room_details_template">
		<div class="columns small-12">
			<div class="row">
				<h1 id="roomName">{{ name }}</h1>
			</div>
			<div class="row">
				<h4 id="roomTopic">{{ topic }}</h4>
				{{#if users}}
				<h5>{{ users }} Users in room</h5>
				{{/if}}
			</div>
		</div>
	</script>

	<script type="templates/handlebars" id="search_template">
		{{#each search }}
			<div class="row chatRow">
				<a href="{{ uri }}">{{ title }}</a>
				{{{ content }}}
			</div>
		{{/each}}
	</script>

	<script type="templates/handlebars" id="recent_rooms_template">
		<div class="recentRoom">
			<a href="{{ id }}">{{ name }}</a><span class="removeRecent"><a href="{{ id }}">x</a></span>
		</div>
	</script>

	<script type="templates/handlebars" id="code_template">
		<div class="row chatRow">
			<div class="code snippet">
				<em>{{ name }}</em>: {{ time }}
				<pre><code>{{ code }}</code></pre>
			</div>
	 	</div>
 	</script>

 	<script type="templates/handlebars" id="flip_template">
 		<div class="row chatRow">
 			<em>{{ name }}</em> flipped {{ result }}!
 		</div>
 	</script>

	<script type="templates/handlebars" id="roll_template">
		<div class="row chatRow">
			<em>{{ name }}</em> rolled a {{ roll }} on a {{ max }} sided die!
		</div>
	</script>

	<script type="templates/handlebars" id="fact_template">
		<div class="row chatRow">
			<em>{{ name }}</em>: {{ fact }}

		</div>
	</script>

	<script type="templates/handlebars" id="fortune_template">
		<div class="row chatRom">
			<em>{{ name }}</em>: {{{ fortune }}}
		</div>
	</script>


	<script type='templates/handlebars' id="gif_template">
		<div class="row chatRow">
				<a class="embedly-card" href="{{ gif }}"></a>
				<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

	<script type='templates/handlebars' id="users_in_room_template">
		<ul>
			{{#each users}}
				<li>{{ name }}</li>
			{{/each}}
		</ul>
	</script>

	<script type="templates/handlebars" id="room_list_template">
		<div class="columns small-12">
				<div class="row">
					<h1>{{ name }}</h1>
				</div>
				<div class="row">
					<h4>{{ topic }}</h4>
				</div>
		</div>
	</script>

	<script type="templates/handlebars" id="image_template">
		<div class="row chatRow">
		<a class="embedly-card" href="{{ imageURL }}"></a>
		<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
		</div>
	</script>

<!-- New room form -->

<div id="newRoomModal" class="reveal-modal" data-reveal>
  <h2>New Room.</h2>
  <p class="lead">Enter a title for your new room.</p>
  <div class="columns small-10">
  	<%= text_field_tag :room_name %>
  </div>

 	<%= button_tag 'Create', id: 'create_room_button' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<!-- image upload form -->
<div id="newUploadFileModal" class="reveal-modal" data-reveal>
	<h2>Upload Image</h2>
  <p class="lead">Choose an image to upload</p>
	<form id="gingerstepkid">
		<div class="columns small-10">
			<%= file_field_tag :image_file %>
			<%= hidden_field_tag :image_cache %>	
		</div>
	 	
	 	<%= button_tag 'Upload', id: 'create_uploaded_file' %>

	</form>
	<a class="close-reveal-modal">&#215;</a>
</div>
