<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Hot Air', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    	<% if logged_in? %>
      	<li><%= link_to "Chat as " + @current_user.name, chat_path %></li>
      	<li><%= link_to 'Logout', login_path, :method => :delete %></li>
        <li><%= link_to 'Edit Profile', edit_current_user_path %></li>
      <% else %>
       	<li><%= link_to 'Login', login_path %></li>
        <li><%= link_to 'Register', new_user_path %></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

    </ul>
  </section>
</nav>