<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Hot Air</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>


<div id="newLoginModal" class="reveal-modal">
<h1>Login</h1>

<%= form_tag '/login' do %>
  <%= label_tag :name %>
  <%= text_field_tag :name, nil, autofocus: true %>

  <%= label_tag :password %>
  <%= password_field_tag :password, nil %>

  <%= submit_tag 'Login' %>
<% end %>
</div>
    <%= render 'layouts/navigation' %>


      <%= yield %>


    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
    <script src="//">
  </body>
</html>